@font-face {
  font-family: Colculator;
  src: url(./Digital7-1e1Z.ttf);
}
#output {
  border: 1px solid black;
  display: block;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: end;
  font-family: Colculator;
  font-size: 17px;
}
body {
  border: 1px solid black;
  width: 50%;
  max-width: 177px;
  min-width: 177px;
  margin: 0 auto;
}
.err {
  color: red;
}